*{
  margin: 0;
}

.cards{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  width: 100vw;
  flex-direction: row;
  /* background-color: red; */
}
.cards div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 15px;
}